html{
    background-color: black;
    color: antiquewhite;
  }
iframe{
    border-width: 6px;
    border-color: rgb(23, 23, 101);
    border-radius: 10%;
}
#pay{
    width:50%;
    font-size: 20px;
}
.boxpay{
    border:double 10px whitesmoke;
    width:50%;
}
td::selection{
    background-color: rgb(238, 121, 103);
}